<% if user_signed_in? %>
	<h1>GoStory</h1>
<% else %>

<div class="jumbotron">	
	<h1><b>Welcome to GoStory!</b></h1>
		<p>
			Place for sharing your wildest moments!
		</p>
		
		<p>
				<%= link_to "Sign Up Now!",new_user_registration_path, class: "btn btn-custom btn-lg" %>
		</P>
</div>

<% end %>


