
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: "Bariol_Regular";
  src: url(font-path("Bariol_Regular.otf")) format("opentype");
}

/*body*/
body {
    padding-top: 70px;
    background-color: #edf9fd !important;
    font-family: "Bariol_Regular" !important;
    font-size: 150% !important;
}

h1 {
    font-weight: bold !important;
}

h2 {
    font-weight: bold !important;
}

/*header*/
.navbar{
    font-size: 115% !important;
}

.navbar-brand {
    font-size: 115% !important;
    color: #edf9fd !important;
}

/*footer*/
.footer{

	margin-top: 50px;
	color: #B0B0B0;
}


/*button-custom*/
.btn-custom {
	background-color:#7bb7db;
    color:#000000;
    font-weight:bold !important;
}

.btn-custom:hover {
    background-color:#6ca2c7;
}

/*jumbotron*/

.jumbotron {
	padding-left: 10px;
 	background-color: #b8eaf4 !important;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    padding: 1px ;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
/*asterisk*/
 abbr[title="required"] {
  display: none;
}
/*asterisk*/

.field_center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

