
@import "bootstrap-sprockets";
@import "bootstrap";





body {
    padding-top: 78px;
    background-color: #f1fbfe !important;

}


.footer{

	margin-top: 50px;
	color: #B0B0B0;
}


/*button-jumbotron*/
.btn-custom {
	background-color:#7bb7db;
    color:#000000;
}

.btn-custom:hover {
    background-color:#6ca2c7;
}

/*button-jumbotron*/

.jumbotron {
	padding-left: 10px;
    background-color: #b8eaf4 !important;

}
