
@import "bootstrap-sprockets";
@import "bootstrap";


body {
    padding-top: 10px;
    /*background-color: #edf9fd !important; */

}


.footer{

	margin-top: 50px;
	color: #B0B0B0;
}


/*button-custom*/
.btn-custom {
	background-color:#7bb7db;
    color:#000000;
}

.btn-custom:hover {
    background-color:#6ca2c7;
}

/*jumbotron*/

.jumbotron {
	padding-left: 10px;
   /* background-color: #b8eaf4 !important;*/

}
