<div class="navbar navbar-inverse navbar-static-top">
	<div class="container">	
		<a class="navbar-brand">GoStory</a>
			<button class="navbar-toggle" data-toggle="collapse" data-target="#navHeaderCollapse">
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
				<div class="collapse navbar-collapse" id="navHeaderCollapse">
					<ul class="nav navbar-nav pull-right">
						<li><%= link_to "Home", root_path %></li>
						<li><%= link_to "About", about_path %></li>
						<li><%= link_to "Social Media", social_path %></li>
						<li><%= link_to "Contact Us", contact_path %></li>

					</ul>
				</div>
	</div>
</div> 